// Colors
$blue: #4e92ff;
$orange: #f89052;
$green: #60cf57;
$red: #f05b5b;
$yellow: #ffcf31;
$light-blue: #0fbdb4;
$dark-grey: #3c3b3b;
$border-checkbox-default: #aeaeae;
$emerald: #52be80;
$cinnabar: #e74c3c;
$grey: #5d5d5d;
$white: #ffffff;
$white-smoke: #f2f2f2;
$whisper: #e6e6e6;

// Fonts

$main-header-size: 46px;
$secondary-header-size: 36px;
$third-header-size: 30px;
$fourth-header-size: 20px;
$fifth-header-size: 18px;

//bg image

$bg-img: '../img/Banner_img_1.png';